:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(212, 45%, 89%);
    --clr-grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --ff-prmry: "Outfit", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');



.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    font-family: var(--ff-prmry);
    font-size: 15px;
    background-color: var(--clr-light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: scroll;
    box-sizing: border-box;
}

main {
    background-color: var(--clr-white);
    width: 50%;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    height: 50%;
}

.qr-info p {
    color: var(--clr-grayish-blue);
    font-size: 15px;
    font-weight: 400;
    margin: 20px auto 50px auto;
    text-align: center;
    padding: 1rem;
    word-spacing: 1px;
    
}

h1 {
    font-weight: 700;
    color: var(--dark-blue);
    font-size: 20px;
    margin: 30px auto 0 auto;
}

.qr-image img {
    max-width: 100%;
    margin: auto;
    margin-top: 1px;
    border-radius: 20px;
    display: block;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    img {
        width: 300px;
    }

    main {
        width: 300px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 15px;
    }

    .attribution {
        font-size: 10px;
    }
}